# Django settings for api project.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

CONSUMER = {
    'cosumer_key': '',
    'consumer_secret': '',
    'name': 'bitbucket',
    'request_token_url': 'https://bitbucket.org/api/1.0/oauth/request_token/',
    'access_token_url': 'https://bitbucket.org/api/1.0/oauth/access_token/',
    'authorize_url': 'https://bitbucket.org/api/1.0/oauth/authenticate/',
    'base_url': 'https://bitbucket.org/api/1.0/'
}
